*.js
!jest.config.js
!frontend/**/*.js
!frontend/*.js
!resolvers/**/*.js
!resolvers/*.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Media and large files
*.mp4
.DS_Store
*.json.log
response.json
__pycache__/
**/__pycache__/
*.pyc
**/*.pyc
cdk-outputs.json




